.dashboard-home__cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 14px;
  grid-row-gap: 14px;
}

.dashboard-home__card {
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.02),
    -7px -7px 7px rgba(255, 255, 255, 0.3);
  padding: 10px;

  min-height: 200px;
}

.dashboard-home__card--1 {
  grid-area: 1 / 1 / 2 / 4;
}

.dashboard-home__card--2 {
  grid-area: 2 / 1 / 3 / 2;
}

.dashboard-home__card--3 {
  grid-area: 2 / 2 / 3 / 4;
}

.dashboard-home__card--4 {
  grid-area: 3 / 1 / 4 / 3;
}

.dashboard-home__card--5 {
  grid-area: 3 / 3 / 4 / 4;
}
