* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: var(--white);
}

.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 75px;
  line-height: 88px;
  margin: 0;
}

h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 75px;
  line-height: 88px;
  margin: 0;
}

h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 50px;
  margin: 0;
}

main {
  flex: 1;
  padding-bottom: 200px;
}

.background {
  background-image: url('../assets/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 30px;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    max-width: 720px;
  }
}

a {
  text-decoration: none;
  color: var(--white);
}

.w-50 {
  width: 50%;
}

.m-auto {
  margin: auto;
}

.d-flex {
  display: flex;
}

.mb-3 {
  margin-bottom: 16px !important;
}

.mb-4 {
  margin-bottom: 32px !important;
}

.mt-3 {
  margin-top: 16px !important;
}

.mt-4 {
  margin-top: 32px !important;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.m-0 {
  margin: 0;
}

.align-items-center {
  align-items: center;
}

.mr-2 {
  margin-right: 8px;
}

.flex-grow {
  flex-grow: 1;
}

.my-4 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mr-3 {
  margin-right: 16px;
}

.w-100 {
  width: 100%;
}
