.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 75px;
  border-radius: 0 10px 10px 0;
  background: #7007d9;
  transition: 0.3s;
  padding: 54px 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.sidebar--open {
  width: 235px;
}

.sidebar__logo {
  width: 54px;
  transition: .3s;
}

.sidebar--open .sidebar__logo {
  width: 100px;
}

.sidebar-item {
  width: 100%;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar-item__text {
  width: 0%;
  overflow: hidden;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.5;
  transition: 0.3s;
}

.sidebar-item__icon {
  width: 20px;
  object-fit: contain;
  opacity: 0.5;
  margin-left: 20px;
  margin-right: 20px;
  transition: 0.3s;
}

.sidebar-item__icon--rotate {
  transform: rotateZ(180deg);
}

.sidebar-item--selected::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 0;
  width: 5px;
  height: 20px;
  background: #fff;
  border-radius: 10px;
}

.sidebar-item--selected .sidebar-item__icon {
  opacity: 1;
}

.sidebar--open .sidebar-item__text {
  width: 100%;
  white-space: nowrap;
}

.sidebar-item--selected .sidebar-item__text {
  opacity: 1;
}
