.header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  color: var(--gray);
  font-size: 13px;
}

.navigation {
  display: flex;
  align-items: center;
  height: 50px;
  
  width: 100%;
  justify-content: space-between;
}

.navigation__block {
  justify-content: space-between;
  width: 170px;
  display: flex;
}

.nav-link {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

.nav-link--selected {
    border-bottom: 1px solid var(--white);
}

.navigation__block .nav-link {
  font-weight: 400;
  color: var(--gray);
  font-family: 'League Gothic', sans-serif;
}

.navigation--subheader .nav-link {
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
}

.navigation--subheader {
  max-width: 580px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.logo {
  width: 120px;
}
