.dashboard {
  min-height: 100vh;
  padding: 60px 14px 14px 90px;
  background-color: #f6f6f6;
  color: #333;
}

.dashboard__overflow {
  position: fixed;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  background-color: rgba(143, 143, 143, 0.65);
  transition: 0.3s;
}

.dashboard__overflow--open {
  right: 0%;
}

.dashboard-header {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  color: #999999;
}

.dashboard-header__icon {
  width: 17px;
  margin-right: 8px;
}

.dashboard-header__search-wrapper {
  font-size: 10px;
}

.dashboard-header__block {
  display: flex;
  align-items: center;
}

.dashboard-header__profile-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboard-header__profile-name {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  margin: 0;
  margin-bottom: 5px;
}

.dashboard-header__profile-type {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #7007d9;
  margin: 0;
}

.dashboard-header__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  margin-left: 15px;
}
